<%inherit file="/main.mako.html"/>
<div id="result-content">

<div class="section">
<div class="section-header">
<h3> General data privacy </h3>
</div>


<div class="section-content">
<p>
  The <a href="https://www.uni-leipzig.de/service/datenschutz.html">data privacy statement of the University of Leipzig</a> applies to these websites. 
</p> 
</div>
</div>



<div class="section">
<div class="section-header">
<h3> Data Collection</h3>
</div>

<div class="section-content">

<p>
In connection with your access to the web-service provided by Leipzig University, for reason of security, some data might be temporarily stored within server log files that might enable user identification. This includes name of the files, date and time of access, IP address, used browser and OS.
</p>
<p>
You can voluntary provide your email address to this web-service, which is only used to send you a link to the results once the analysis is complete. Uploaded data is deleted after 8 weeks. 
</p>
<p>
Processing of the provided data is not performed, except for the following cases: suspicion of criminal offense, statistical purposes, optimization of the web-service and research use. 
</p>
<p>
Please consider that data transfer over the internet is largely unsecured. It cannot be excluded that transferred data can be read and possibly altered by unauthorized third parties.
</p>

</div>
</div>


<br/>
</div> 
