<%inherit file="/main.mako.html"/>
<div id="result-content">

<div class="section">
  <div class="section-header">
    <h3>View Example Results </h3>
  </div>

  <div class="section-content">
    <p>
      The following links provide a glance on the results of a DARIO
      computation. We encourage you to inspect these pages instead of
      running test data and cosuming server time.

      <ul>
        <li> 
          TEST DATA (hg18).
          <a href="example/result1/" target="blank"> View Result.</a>
          Download in
          <a href="example/testset.bed.gz">BED.gz</a> 
          format.
        </li>
      </ul>
    </p>
  </div>
</div>

<div class="section">
  <div class="section-header">
    <h3> Further Available Test Data </h3>
  </div>

  <div class="section-content">
    <p>
      You can start a DARIO computation using test data by enabling
      the "Use test-data" checkbox on
      the <a href="new_job.py">new
      job</a> page. The used test data is defined by the selected
      reference genome. All data is publicly available via GEO and has
      been mapped to the reference genome using SEGEMEHL. We provide
      test data for the following species:

      <ul>
        <li> 
          hg18 / GSM450599. Download in
          <a href="example/GSM450599.hg18.bed.gz">BED.gz</a> or
          <a href="example/GSM450599.hg18.bam.gz">BAM.gz</a> format.
        </li>

        <li> 
          dm3 / GSE17153. Download in
          <a href="example/dm3.GSE17153.bed.gz">BED.gz</a> 
          format.
        </li>

        <li> 
          ce6 / GSE17153. Download in
          <a href="example/ce6.GSE17153.bed.gz">BED.gz</a> 
          format.
        </li>        

        <li> 
          mm9 / GSM314552. Download in
          <a href="example/mm9.GSM314552.bed.gz">BED.gz</a> 
          format.
        </li>

        <li>
          rheMac2 / GSM450611. Download in
          <a href="example/rheMac2.GSM450611.bed.gz">BED.gz</a> 
          format.
        </li>

      </ul>
    </p>
  </div>
</div>

<br/>
</div> 
